<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBlAS1Fhmr5kj222pplumc2gRBvvuX0KKE</string>
	<key>GCM_SENDER_ID</key>
	<string>95402712864</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.wallpaperApp</string>
	<key>PROJECT_ID</key>
	<string>wallpaper-app-flutter-151b8</string>
	<key>STORAGE_BUCKET</key>
	<string>wallpaper-app-flutter-151b8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:95402712864:ios:4a2db84b593e55bab3c145</string>
</dict>
</plist>